* {
  box-sizing: border-box;
}

.form {
  color: #aaaaaa;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  height: 700px;
  background-color: rgb(22, 22, 48);
  width: 500px;
}

label {
  margin: 5px;
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

input[type="file"] {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  border: 2px solid #aaaaaa;
  background-color: #f9f9f9;
  cursor: pointer;
  cursor: ;
}
