* {
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 20px;
}

.form {
  max-width: 400px;
  height: auto;
  margin: auto;
  background: cyan;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid blue;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-add {
  margin: 15px auto;
  width: 100%;
  padding: 10px;
  background-color: skyblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-add:hover {
  background-color: blue;
  font-weight: bold;
}

.added-list {
  padding: 0;
  align-items: center;
  margin: 0;
}

.added-list li.person {
  display: flex;
  align-items: center;
  padding: 8px;
  background: white;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 8px;
}
.person .name-lastName {
  align-items: center;
  margin: 0 20px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #111827;
}
.person .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid blue;
}
